.oculto{
	display: none;
}

#top-tittle2{
margin-top: 3%;
  font-family: "OswaldHeavy";
  font-size: 50px;
  color: #663366;
}

.space2{
	margin-top: 8%;
}
.down{
	margin-top: 5%;
}


.space_img{
	margin-top: 3%;
}


#mm2 img{
  position: absolute;
  margin-top: -7%;
  margin-left: 80%;
  width: 20%;
}

#im-26{
	margin-top: 10%;
	   

}
#im-28{
	margin-top: 34%;
	}
#im-30{
text-align: center;
	}   
