.oculto{
	display: none;
}


#top-tittle2 {
    color: #CC6699;
    font-family: "OswaldHeavy";
    font-size: 50px;
    padding: 0;
  
}

#top-tittle3 {
    color: #663366;
    font-family: "OswaldHeavy";
    font-size: 50px;
    padding: 0;
  
}

.space2{
	margin-top: 8%;
}
.down{
	margin-top: 5%;
}


.space_img{
	margin-top: 3%;
}


#mm2 img{
  position: absolute;
  margin-top: -7%;
  margin-left: 80%;
  width: 20%;
}

#im-26{
	margin-top: 10%;
	   

}
#im-28{
	margin-top: 34%;
	}
#im-30{
text-align: center;
	}   
#req{
	    position: absolute;
    right: 50%;
    top: -8%;
    text-align: center;

}
#lugA{
	position: absolute;
    right: 94%;
    top: 11%;
    text-align: center;
}
#pa{
	    position: absolute;
    right: -4%;
    top: 11%;
    text-align: center;
}
#lugA2{
    position: absolute;
    right: 94%;
    top: 1%;
    text-align: center;
}
#pa2{
    position: absolute;
    right: -4%;
    top: 5%;
    text-align: center;

}
#res{
	    position: absolute;
    top: 81%;
    right: 94%;
    text-align: center;
}
#res2{
	 position: absolute;
    top: 77%;
    right: 94%;
    text-align: center;

}
#d_e{
	    position: absolute;
    top: 76%;
    right: -4%;
    text-align: center;
}
#head-m0 {
    border-bottom: 0;
}
#trapezoid {
	    border-bottom: 100px solid #663366;
	}
.h_s {
  border-bottom: 100px solid #8a6f8b;
  border-right: 50px solid transparent;
  height: 0;
  width: 65%;
  color: #fff;
}

.bigText{
	font-size: 33px;
    font-family: "MyriadRegular";
    color: #42203d;
    font-weight: bold;
}
.bigText{
	font-size: 27px;
    font-family: "MyriadRegular";
    color: #42203d;
    font-weight: bold;
}
#flecha{
	    top: 87px;
}
#flecha_w{
	        right: -6%;
}
.sqSmall{
	font-size: 22px;
    font-family: "Myriad Pro Condensed";
    background-color: #806C88;
    
}
.prin_sq{
	    top: 38px;

}
.w_sq{
	color:white;
	text-align: center;
	    margin-top: 5%;

}
#d_s{
	    margin-top: 6%;
}
#fuent{
	    margin-top: 56%;
}

@media (max-width:992px) {
    .abajo{
     margin-bottom: 42px;
    right: -10%;
}
}

@media (max-width:767px) {
    .abajo2{
     margin-bottom: 42px;
    right: -21%;
}
#fuent{
        margin-top: 21%;
}
}



@media (max-width:1150px) {
   #top-tittle {
    padding-top: 3%;
    font-size: 37px;

}
}
@media (max-width:867px) {
   #top-tittle {
    font-size: 32px;

}
}
@media (max-width:457px) {
   #top-tittle {
    font-size: 26px;

}

}

   