#cero #im-h3{
  margin-top: 18%;
  margin-left: 16%;
}
#cero .div-sp{
  margin-top: 3%;
}
.space{
  display: none;
}
#cero #im-2{
  margin-top: 4%;
  margin-left: 10%;
  cursor: pointer;
}
.m0{
  background-color: #b6648c;
  color: #fff;
  font-size: 20px;
  font-family: "MyriadRegular";
}
.m1{
  background-color: #6b3a5a;
  color: #fff;
  font-size: 20px;
  font-family: "MyriadRegular";
}
#head-m0{
  border-bottom: 0;
}
.head{
  color: #CC6699;
  font-family: "OswaldHeavy";
  font-size: 50px;
  padding: 0;
  padding-left: 5%;
  margin-bottom: 8%;
}
#uno #im-1{
  margin-left: 5%;
}
.img-bot{
  margin-top: 13%;
}
#siete .img-bot{
  margin-top: 8%;
}
#nueve #im-2{
  margin-top: -45%;
}
@media (max-width:844px) {
  #nueve #im-2{
    margin-top: 0%;
  }
}
@media (max-width:768px) {
  .separacion{
    margin-bottom: 5%;
  }
}
@media (max-width:700px) {
  .space{
    display: block;
  }
}
@media (max-width:580px) {
  #diez .head{
    font-size: 40px;
  }
}
