@font-face{
  font-family: "MyriadBold";
  src: url("fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}
@font-face{
  font-family: "MyriadRegular";
  src: url("fonts/MyriadPro-Regular.woff") format("woff");
}
@font-face{
  font-family: "OswaldHeavy";
  src: url("fonts/Oswald-Heavy.woff") format("woff");
}
body{
  background-color: #6b3a5a;
}
#header{
  background-color: #8a6f8b;
  font-size: 50px;
  z-index: 10;
  -webkit-transform: rotateZ(-5.5deg);
  -moz-transform: rotateZ(-5.5deg);
  -o-transform: rotateZ(-5.5deg);
  width: 60%;
  margin-left: 20%;
  margin-top: -14%;
}
.top{
  width: 100%;
}
#mm img{
  position: absolute;
  margin-top: 0%;
  margin-right: 0%;
  width: 20%;
}
