@font-face{
  font-family: "MyriadBold";
  src: url("fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}
@font-face{
  font-family: "MyriadRegular";
  src: url("fonts/MyriadPro-Regular.woff") format("woff");
}
@font-face{
  font-family: "OswaldHeavy";
  src: url("fonts/Oswald-Heavy.woff") format("woff");
}
@font-face{
  font-family: "OswaldLight";
  src: url("fonts/oswald.light.woff") format("woff");
}
.ptext{
  font-size: 24px;
  font-family: "MyriadRegular";
  color: #42203d;
}
#index{
  background-color: #6b3a5a;
}
#color{
  background-color: #d1c1d7;
}
#header{
  background-color: #8a6f8b;
  font-size: 60px;
  z-index: 10;
  -webkit-transform: rotateZ(-5.5deg);
  -moz-transform: rotateZ(-5.5deg);
  -o-transform: rotateZ(-5.5deg);
  width: 60%;
  margin-left: 5%;
  margin-top: -12%;
  color: #fff;
  font-family: "OswaldHeavy";
}
.top{
  width: 100%;
}
#mm img{
  position: absolute;
  margin-top: 0%;
  margin-left: 80%;
  width: 20%;
}
.text{
  font-size: 20px;
  color: #fff;
}
#int-mt{
  margin-top: 10%;
  margin-left: 10%;
  font-family: "OswaldLight";
  font-size: 30px;
  color: #fff;
}
.logos{
  padding-left: 0px;
  margin-left: 0px;
}
#menu{
  position: absolute;
  width: 50px;
  height: 200px;
  background-color: #42203d;
  overflow: hidden;
  right: 0%;
  top:55%;
  z-index: 10;
}
#menu #next, #back{
  width: 39px;
  margin-left: 3%;
}
#menu #txt{
  webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 23px 17px;
  -moz-transform-origin: 23px 17px;
  -ms-transform-origin: 23px 17px;
  -o-transform-origin: 23px 17px;
  transform-origin: 23px 17px;

  width: 100px;
  position: relative;
  top: 70px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  font-family: "OswaldHeavy";
}
.ln{
  border-bottom: 2px solid #6b3a5a;
}
#next img{
  width: 38px;
  margin-left: 15%;
}
#back img{
  margin-top: 15%;
  width: 38px;
  margin-left: 15%;
}
#sub-menu{
  position: absolute;
  display: none;
  background-color: #8a6f8b;
  top: 55%;
  right: 50px;
  height: 200px;
  z-index: 100;
  -webkit-box-shadow: -15px 14px 23px -8px rgba(0,0,0,0.82);
  -moz-box-shadow: -15px 14px 23px -8px rgba(0,0,0,0.82);
  box-shadow: -15px 14px 23px -8px rgba(0,0,0,0.82);
}
#sub-menu ul{
  padding:0;
}
#sub-menu ul li{
  text-decoration:none;
  font-family: "OswaldHeavy";
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  display:block;
  color:#fff;
  font-size: 17px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#next, #back:hover{
  cursor: pointer;
}
#txt:hover{
  cursor: default;
}
/*#menu:hover + #sub-menu{*/
  /*display: block;*/
/*}*/

#trapezoid {
  border-bottom: 100px solid #b6648c;
  border-right: 50px solid transparent;
  height: 0;
  width: 65%;
  color: #fff;
}
.opt:hover{
  background-color: #382B36;
  text-decoration: none;
}
#sub-menu ul a{
  text-decoration: none;
  color: #fff;
}
#top-tittle{
  padding-top: 3%;
  font-family: "OswaldHeavy";
  font-size: 50px;
}
.espacio{
  margin-top: 15%;
}
.mar-left{
  margin-left: 10%;
}
.mouse{
  cursor: pointer;
}
.div-sp{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #a88fb5;
  color: #6b3a5a;
  font-family: "MyriadBold";
  font-size: 24px;
  padding:2%;
}

@media (max-width:970px) {
  #top-tittle{
    font-size: 35px;
  }
}
